<section>
<div>
    <h2> Your pucharse</h2>
</div>
{{#if resp2}}
<div>
    <p>Code: {{resp2.code}}</p>
    <p>Date: {{resp2.purchase_datetime}}</p>
    <p>Buyer: {{resp2.purchaser}} </p>
    <p>Pucharse Amount: {{resp2.amount}} </p>
</div>
{{/if}}
<div>
    <p>Thank you for shopping at FASHION. You will receive the purchase summary in your email </p>
</div>
<div>
    <button onclick="location.href='/'"> Back to Home </button>
</div>

</section>

