<section>
<div>
    <h2> Your pucharse</h2>
</div>

<div>
    <p>Code: </p>
    <p>Date: </p>
    <p>Buyer: </p>
    <p>Pucharse Amount</p>
</div>

<div>
    <button onclick="location.href='/'"> Back to Home </button>
</div>

</section>

