<section class="products">
  <h1>LOAD YOUR PRODUCT</h1>
  <div class="container-fuid">
  <article>
    <form class="form create_form border-2 bg-dark text-reset p-3" enctype="multipart/form-data" >
      <div>
        <label class="form-label"  for="title">Title</label>
        <input class="form-control" type="text" name="title" />
      </div>
      <div>
        <label class="form-label"  for="code">Code</label>
        <input class="form-control"  type="text" name="code" />
      </div>
      <div>
        <label class="form-label"  for="price">Price</label>
        <input class="form-control" type="text" name="price" />
      </div>
      <div>
        <label class="form-label"  for="stock">Stock</label>
        <input class="form-control" type="text" name="stock" />
      </div>
      <div>
        <label class="form-label"  for="category">Category</label>
        <input class="form-control" type="text" name="category" />
      </div>
      <div>
        <label class="form-label"  for="description">Description</label>
        <textarea class="form-control" type="text" name="description"></textarea>
      </div>
      <div>
        <label class="form-label"  for="thumbnails">Images</label>
        <input class="form-control" type="file" name="thumbnails" multiple />
      </div>
      <button class="btn btn-success mt-2" type="submit">LOAD</button>
    </form>
  </article>
  </div>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/RTProducts.js"></script>

