* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #eee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #EEE;
    margin-bottom: 2rem;
}

.products_list.card {
    
    width: 280px !important;
    height: auto;
}
.products_list.card.body.h3{
    font-size: 20px;
    color: #333;
}


.products h1 {
    margin: 1rem 0;
    color: #333;
}
.numero_pagination{
    color: #333;
}

.container{
    display:flex;
    justify-content: start;
}

