<header>
  <nav>
    <ul class="nav">
      <li><a class="link-item" href="/products">Home</a></li>
      <li><a class="link-item" href="/realTimeProducts">Load Products</a></li>
      <li><a class="link-item" href="/carts">Cart</a></li>
      <li><a class="link-item" href="/perfil">Profile</a></li>
      <li><a class="link-item" href="/chat">Chat</a></li>
    </ul> 
  </nav>
</header>